Package            Version
------------------ ---------
certifi            2026.5.20
charset-normalizer 3.4.7
dnspython          2.8.0
idna               3.18
pip                26.1.1
pymongo            4.17.0
requests           2.34.2
urllib3            2.7.0
